[Desktop Entry]
Type=Application
Name=Coollab Launcher
Exec=Coollab-Launcher %f
Icon=Coollab-Launcher
Categories=Graphics;2DGraphics;3DGraphics;RasterGraphics;